@model InfiniteTiers.DevicesStore.Data.Models.Device

@{
    ViewData["Title"] = "Device Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-primary">
    <a asp-action="Index" class="float-left text-dark"><i class="fas fa-long-arrow-alt-left"></i></a>
    @Html.DisplayFor(model => model.Name)
</h1>

<hr />
<div>
    <dl class="row">
        <dt class="col-md-2">
            Id
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.DeviceId)
        </dd>
        <dt class="col-md-2">
            Owned By
        </dt>
        <dd class="col-md-4">
            <i>
                @Html.DisplayFor(model => model.OwnedBy)
            </i>
        </dd>
        <dt class="col-md-2">
 
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-md-2">
            Serial Number
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt class="col-md-2">
            Purchase Date
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt class="col-md-2">
            Category
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-md-2">
            Status
        </dt>
        <dd class="col-md-4">
            @if (Model.IsActive)
            {
                <div class="text-center bg-success">
                    Active
                </div>
            }
            else
            {
                <div class="text-center bg-danger">
                    Inactive
                </div> 
            }
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<style>
    dt {
        border-left: 10px solid var(--primary);
        border-radius: 5px;
        margin-bottom: 5px;
    }
</style>
