@model IEnumerable<InfiniteTiers.DevicesStore.Data.Models.Device>

@using Microsoft.AspNetCore.Identity
@using InfiniteTiers.DevicesStore.Data.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Devices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-primary">All Devices</h1>

<form action="/Devices" method="post" class="form-inline">
    <div class="form-group mb-2">
        <label for="SearchString">Find by name:</label>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <input class="form-control" name="SearchString" id="SearchString" type="text" />
    </div>
    <button type="submit" class="btn btn-primary mb-2">Search</button>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Owned By
            </th>
            <th>
                Status
            </th>
            <th>
                @if (User.IsInRole("Admin") || User.IsInRole("OperationManager"))
                {

                    <a asp-action="Create" class="text-decoration-none">
                        <i class="fas fa-plus"></i>
                        NEW!
                    </a>

                }
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnedBy.UserName)
                </td>
                <td>
                    @if (item.IsActive)
                    {
                        <div class="text-center bg-success">
                            Active
                        </div>
                    }
                    else
                    {
                        <div class="text-center bg-danger">
                            Inactive
                        </div>
                    }
                </td>

                <td>

                    @if (User.IsInRole("User") || User.IsInRole("OperationManager"))
                    {
                        @if (item.OwnedBy.UserName != UserManager.GetUserName(User))
                        {
                            <a asp-action="Request" asp-route-id="@item.DeviceId" class="btn btn-success"
                               asp-route-userId="@UserManager.GetUserId(User)" style="padding: 0px 5px; margin:0px 3px">
                                Request
                            </a>
                        }
                        else if (item.OwnedBy.UserName == UserManager.GetUserName(User))
                        {
                            <a asp-action="Release" asp-route-id="@item.DeviceId" title="Release"
                               class="btn btn-secondary" style="padding: 0px 5px; margin:0px 3px">
                                Release
                            </a>
                        }

                    }

                    @if (User.IsInRole("Admin") || User.IsInRole("OperationManager"))
                    {

                        <a asp-action="Details" asp-route-id="@item.DeviceId" style="padding: 0px 5px; margin:0px 3px">
                            <i class="fas fa-info"></i>
                        </a>


                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.DeviceId" style="padding: 0px 5px; margin:0px 3px">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.DeviceId" style="padding: 0px 5px; margin:0px 3px">
                                <i class="far fa-trash-alt"></i>
                            </a>

                        }
                    }


                </td>

            </tr>
        }
    </tbody>
</table>
@if (Model.Count() < 1)
{
    <h4 class="text-center text-danger">No Devices.</h4>
}
<style>
    td, th {
        text-align: center;
    }

    a:hover {
        text-decoration: none;
    }
</style>