@model IEnumerable<InfiniteTiers.DevicesStore.Data.Models.Device>

@{
    ViewData["Title"] = "Devices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-primary">All Devices</h1>


<form action="/Devices" method="post" class="form-inline">
    <div class="form-group mb-2">
        <label for="SearchString">Find by name:</label>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <input class="form-control" name="SearchString" id="SearchString" type="text" />
    </div>
    <button type="submit" class="btn btn-primary mb-2">Search</button>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                Category
            </th>
            <th>
                Purchase Date
            </th>
            <th>
                Status
            </th>
            @if (User.IsInRole("Admin") || User.IsInRole("OperationManager"))
            {
                <th>

                    <a asp-action="Create" class="text-decoration-none">
                        <i class="fas fa-plus"></i>
                        NEW!
                    </a>

                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseDate.Year)/@Html.DisplayFor(modelItem => item.PurchaseDate.Month)/@Html.DisplayFor(modelItem => item.PurchaseDate.Day)
                </td>
                <td>
                    @if (item.IsActive)
                    {
                        <div class="text-center bg-success">
                            Active
                        </div>
                    }
                    else
                    {
                        <div class="text-center bg-danger">
                            Inactive
                        </div>
                    }
                </td>
                @if (User.IsInRole("Admin") || User.IsInRole("OperationManager"))
                {
                    <td>

                        <a asp-action="Details" asp-route-id="@item.DeviceId" style="padding: 0px 5px; margin:0px 3px">
                            <i class="fas fa-info"></i>
                        </a>


                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.DeviceId" style="padding: 0px 5px; margin:0px 3px">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.DeviceId" style="padding: 0px 5px; margin:0px 3px">
                                <i class="far fa-trash-alt"></i>
                            </a>

                        }
                    </td>
                }

            </tr>
        }
    </tbody>
</table>
<style>
    td, th {
        text-align: center;
    }

    a:hover {
        text-decoration: none;
    }
</style>