@model InfiniteTiers.DevicesStore.Data.Models.Category

@{
    ViewData["Title"] = "Category Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-primary">
    <a asp-action="Index" class="float-left text-dark"><i class="fas fa-long-arrow-alt-left"></i></a>
    @Html.DisplayFor(model => model.Name)
</h1>

<hr />
<div>
    <dl class="row">
        <dt class="col-md-2">
            Id
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-md-4">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-md-2">
            Devices
        </dt>
        <dd class="col-md-4">
            @foreach (var device in Model.Devices)
            {
                <div>
                    @device.Name
                </div>
                if (!device.Equals(Model.Devices.Last()))
                {
                    <hr />
                }
            }
        </dd>
    </dl>
</div>

<style>
    dt {
        border-left: 10px solid var(--primary);
        border-radius: 5px;
        margin-bottom: 5px;
    }
</style>
