@model IEnumerable<InfiniteTiers.DevicesStore.Data.Models.Category>

@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-primary">All Categories</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                #Devices
            </th>
            <th>
                <a asp-action="Create" class="text-decoration-none">
                    <i class="fas fa-plus"></i>
                    NEW!
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @item.Devices.Count
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CategoryId" style="padding: 0px 5px; margin:0px 3px">
                        <i class="fas fa-info"></i>
                    </a>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId" style="padding: 0px 5px; margin:0px 3px">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.CategoryId" style="padding: 0px 5px; margin:0px 3px">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Count() < 1)
{
    <h4 class="text-center text-danger">No Categories.</h4>
}
<style>
    td, th {
        text-align: center;
    }

    a:hover {
        text-decoration: none;
    }
</style>
